body {
    text-align: left;
    width: 1100px;
    margin: auto;
}

.You {
    text-align: center;
    background-color: rgba(75, 75, 75, 0.37);
    border: 2px solid rgb(95, 1, 29);
    margin: auto;
    width: 960px;
    font: bold 14px verdana;
}

.Alone li {
    width: 150px;
    border: 2px solid rgb(138, 0, 0);
    background-color: hsla(0, 0%, 10%, 0.459);
    list-style: none;
    font: bold 13px verdana;
    float: left;
    margin: 20px;
    text-align: center;
}

.derechos {
    text-align: center;
    font: bold 14px verdana;
}